<p id="notice"><%= notice %></p>

<p>
  <b>Id asiento:</b>
  <%= @seat.id_asiento %>
</p>

<p>
  <b>Numero:</b>
  <%= @seat.numero %>
</p>

<p>
  <b>Posicion:</b>
  <%= @seat.posicion %>
</p>

<p>
  <b>Flight:</b>
  <%= @seat.flight_id %>
</p>


<%= link_to 'Edit', edit_seat_path(@seat) %> |
<%= link_to 'Back', seats_path %>
