<h1>
  <%= @flight[:obtener_vuelo_response][:return][:codigo_vuelo] %>
</h1>
<p>
  <b>Aerolínea:</b>
  <%= @flight[:obtener_vuelo_response][:return][:aerolinea] %>
</p>

  <div>
   <ul data-role="listview">
      <li>
        <h3>SALIDA</h3>
        <p>
          <%= @flight[:obtener_vuelo_response][:return][:fecha_salida].strftime("%d-%m-%Y - %H:%M") %>
        </p>
        <p class="ui-li-aside"><strong><%= @flight[:obtener_vuelo_response][:return][:ciudad_origen] %></strong></p>
      </li>
      <li>
        <h3>LLEGADA</h3>
        <p>
          <%= @flight[:obtener_vuelo_response][:return][:fecha_llegada].strftime("%d-%m-%Y - %H:%M") %>
        </p>
        <p class="ui-li-aside"><strong><%= @flight[:obtener_vuelo_response][:return][:ciudad_destino] %></strong></p>
      </li>
     </ul>
  </div>

<div>
<%= form_for(@seats) do |f| %>

  <div class="field">
    <%= f.label :flight_id %><br />
    <%= f.select :flight_id, @seats.collect {|t| [t.numero, t.id_asiento]}  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
