<p id="notice"><%= notice %></p>

<h1>
  <%= @flight.codigo %>
</h1>

<p>
  <b>Aerolínea:</b>
  <%= @flight.aerolinea %>
</p>
<p>
  <b>Ciudad:</b>
  <%= @flight.ciudad %>
</p>
<table>
<tr>
  <td><b>Salida:</b>
  </td>
  <td><b>Llegada:</b>
  </td>
</tr>
<tr>
  <td><p>
  <%= @flight.salida %>
</p>
  </td>
  <td><p>
  
  <%= @flight.llegada %>
</p>
  </td>
</tr>
</table>
<h1>Listing seats</h1>

<table>
  <% @seats.each do |seat| %>
  <tr>
    <td><%= seat.numero %></td>
    <td><%= seat.posicion %></td>
    <td><%= seat.vuelo %></td>
    <td><%= seat.estado %></td>
    <td><%= link_to 'Show', seat %></td>
    <td><%= link_to 'Edit', edit_seat_path(seat) %></td>
    <td><%= link_to 'Destroy', seat, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
    
  </tr>

</table>

<br />
