<p id="notice"><%= notice %></p>

<p>
  <b>Usuario:</b>
  <%= @passenger[:obtener_pasajero_response][:return][:pasajero][:usuario] %>
</p>

<p>
  <b>Nombres:</b>
  <%= @passenger[:obtener_pasajero_response][:return][:pasajero][:nombre] %>
</p>

<p>
  <b>Apellidos:</b>
  <%= @passenger[:obtener_pasajero_response][:return][:pasajero][:apepaterno] %>
</p>

<p>
  <b>E-mail:</b>
  <%= @passenger[:obtener_pasajero_response][:return][:pasajero][:correo] %>
</p>
